[[ -x $(command -v sudo) || $USER = "root" ]] ||  alias sudo=""
[[ -x $(command -v nixos-generate-config) ]] && alias conf="sudo vim /etc/nixos/configuration.nix" && alias cleanup="sudo nix-collect-garbage -d --delete-older-than 20d" && alias switch="sudo nixos-rebuild switch"
[[ -x $(command -v apk) ]] && alias sudo="doas" && alias ain="doas apk add" && alias reboot="doas reboot" && alias poweroff="doas poweroff"
[[ -x $(command -v apt) ]] && alias forcedup="sudo apt update && apt list --upgradable 2>&1 | awk -F '/' 'NR>4{print $1}'| xargs sudo apt install -y"
[[ -x $(command -v xbps-install) ]] && alias voidin="sudo xbps-install -S" && alias voidse="xbps-query -s"
[[ -x $(command -v fdfind) ]] && alias fd="fdfind"
alias work="time read -n 1 -e"
alias hl="rg --passthrough"
alias hyp="vim ~/.config/hypr/hyprland.conf"
alias lastupg='tail -n 4 "$(find ~/.local/log/ -maxdepth 1 -name "*.log" -exec ls -t1 {} + | awk 'NR==1')"'
alias brc="exec bash"
alias srcdot="cd ~/mydotfiles && git pull && cd - && exec bash"
alias ls="ls --color=auto"
alias ll="ls -lAFh"
alias la="ls -lah"
alias cp="cp -i"
alias rm="rm -i"
alias mv="mv -i"
alias frogssh="ssh frog@frog02.mikr.us -p 10613"
alias ubuserv="ssh asgf12@192.168.0.200"
alias ta="tmux attach"
alias tl="tmux list-sessions"
alias grep="grep --color=auto"
alias vnv='nvim $(fzf -m --preview="bat --color=always {}")'
alias vv='vim $(fzf -m --preview="bat --color=always {}")'
alias ga='git add .'
alias gs='git status'
alias gc='git commit -a'
alias gcm='git commit -m'
alias gp='git pull'
alias gpp='git pull --ff-only'
alias gr='git restore'
alias gl='git log --all --graph'
alias gpm='git push --repo=git@github.com:asgf12/mydotfiles.git'
alias dot='cd ~/mydotfiles'


upgrade() {
  LOGFILE="$HOME/.local/log/update_$(date +%B%Y).log"
  {
    sudo printf "\nStartTime:\n$(date +%F_%T)\n\n" ;
    [ -x "$(command -v flatpak)" ] && echo "== Flatpak ==" && sudo flatpak update -y
    [ -x "$(command -v snap)" ] && echo "== Snap ==" && sudo snap refresh
    if [ -x "$(command -v apt)" ]; then
      echo "== APT ==" && sudo apt update && sudo apt upgrade -y
    elif [ -x "$(command -v dnf)" ]; then
      echo "== DNF ==" && sudo dnf upgrade -y
    elif [ -x "$(command -v pacman)" ]; then
      echo "== Pacman ==" && sudo pacman -Syu
    elif [ -x "$(command -v zypper)" ]; then
      echo "== Zypper ==" && sudo zypper dup
    elif [ -x "$(command -v ujust)" ]; then
      echo "== Ujust ==" && ujust update
    elif [[ -x "$(command -v rpm-ostree)" && ! -x "$(command -v ujust)" ]]; then
      echo "== rpm-ostree ==" && rpm-ostree upgrade
    elif [ -x "$(command -v apk)" ]; then
      echo "== APK ==" && doas apk update && doas apk upgrade
    elif [ -x "$(command -v nixos-rebuild)" ]; then
      echo "== NIX ==" && sudo nixos-rebuild switch --upgrade
    elif [ -x "$(command -v xbps-install)" ]; then
      echo "== Void ==" && sudo xbps-install -Syu
    else
      echo "Nie wykryto znanego menedżera pakietów."
    fi
    printf "\nEndTime:\n$(date +%F_%T)\n\n" ;
  } 2>&1 | tee -a "$LOGFILE"
}

