[[ -x $(command -v sudo) || $USER = "root" ]] ||  alias sudo=""
[[ -x $(command -v nixos-generate-config) ]] && alias conf="sudo vim /etc/nixos/configuration.nix" && alias cleanup="sudo nix-collect-garbage -d --delete-older-than 20d"
[[ -x $(command -v apk) ]] && alias sudo="doas" && alias ain="doas apk add" && alias reboot="doas reboot" && alias poweroff="doas poweroff"
[[ -x $(command -v apt) ]] && alias forcedup="sudo apt update && apt list --upgradable 2>&1 | awk -F '/' 'NR>4{print $1}'| xargs sudo apt install -y"
[[ -x $(command -v xbps-install) ]] && alias voidin="sudo xbps-install -S" && alias voidse="xbps-query -s"
[[ -x $(command -v fdfind) ]] && alias fd="fdfind"
alias hyp="vim ~/.config/hypr/hyprland.conf"
alias lastupg='tail -n 4 "$(find ~/.local/log/ -maxdepth 1 -name "*.log" -exec ls -t1 {} + | awk 'NR==1')"'
alias brc="exec bash"
alias srcdot="cd ~/mydotfiles && git pull && cd - && exec bash"
alias ls="ls --color=auto"
alias ll="ls -lAFh"
alias la="ls -lah"
alias cp="cp -i"
alias rm="rm -i"
alias mv="mv -i"
alias frogssh="ssh frog@frog02.mikr.us -p 10613"
alias ubuserv="ssh asgf12@192.168.0.200"
alias ta="tmux attach"
alias tl="tmux list-sessions"
alias grep="grep --color=auto"
alias vnv='nvim $(fzf -m --preview="bat --color=always {}")'
alias vv='vim $(fzf -m --preview="bat --color=always {}")'
alias ga='git add .'
alias gs='git status'
alias gc='git commit -a'
alias gp='git pull'
alias gpp='git pull --ff-only'
alias gr='git restore'
alias gl='git log --all --graph'
alias gpm='git push --repo=git@github.com:asgf12/mydotfiles.git'
alias dot='cd ~/mydotfiles'


upgrade() {
  LOGFILE="$HOME/.local/log/update_$(date +%B%Y).log"
  {
    sudo printf "\nStartTime:\n$(date +%F_%T)\n\n" ;
    [ -x "$(command -v flatpak)" ] && echo "== Flatpak ==" && sudo flatpak update -y
    [ -x "$(command -v snap)" ] && echo "== Snap ==" && sudo snap refresh
    if [ -x "$(command -v apt)" ]; then
      echo "== APT ==" && sudo apt update && sudo apt upgrade -y
    elif [ -x "$(command -v dnf)" ]; then
      echo "== DNF ==" && sudo dnf upgrade -y
    elif [ -x "$(command -v pacman)" ]; then
      echo "== Pacman ==" && sudo pacman -Syu
    elif [ -x "$(command -v zypper)" ]; then
      echo "== Zypper ==" && sudo zypper dup
    elif [ -x "$(command -v ujust)" ]; then
      echo "== Ujust ==" && ujust update
    elif [[ -x "$(command -v rpm-ostree)" && ! -x "$(command -v ujust)" ]]; then
      echo "== rpm-ostree ==" && rpm-ostree upgrade
    elif [ -x "$(command -v apk)" ]; then
      echo "== APK ==" && doas apk update && doas apk upgrade
    elif [ -x "$(command -v nixos-rebuild)" ]; then
      echo "== NIX ==" && sudo nixos-rebuild switch --upgrade
    elif [ -x "$(command -v xbps-install)" ]; then
      echo "== Void ==" && sudo xbps-install -Syu
    else
      echo "Nie wykryto znanego menedżera pakietów."
    fi
    printf "\nEndTime:\n$(date +%F_%T)\n\n" ;
  } 2>&1 | tee -a "$LOGFILE"
}

# hbash() {
    # local declare -A help
    # help=(
    # ALT+C – Suspends the running command/process.
    # ALT+T – Swaps the last two words.
    # ALT+U – Capitalize all characters in a word after the cursor.
    # ALT+L – Uncaptalize all characters in a word after the cursor.
    # ALT+C – Captalize first character in a word.
    # ALT+R – Undo changes to a command that you have brought from the history if you’ve edited it.
    # ALT+. – Use the last word of the previous command.
    # ALT+B – Move backward one word.
    # ALT+D – Delete to end of word
    # ALT+F - Move forward one word.
    # ALT+A – bell character?
    # CTRL+W – Delete the words before the cursor.
    # CTRL+A – Jump to the beginning of a line.
    # CTRL+B – Move one character before the cursor.
    # CTRL+D – Closes the empty Terminal. Dels char forward
    # CTRL+F – Move forward one character.
    # CTRL+C – Stop the currently running command
    # CTRL+E – Move to the end of the line.
    # CTRL+F – Move forward one character.
    # CTRL+B – Move backward one character.
    # CTRL+G – Leave the history searching mode without running the command.
    # CTRL+H – Delete the characters before the cursor, same as BACKSPACE.
    # CTRL+J – Same as ENTER/RETURN key.
    # CTRL+K – Delete all characters after the cursor.
    # CTRL+L – Clears the screen and redisplay the line.
    # CTRL+M – Same as CTRL+J or RETURN.
    # CTRL+N – Display next line in the command history. Or using the DOWN arrow.
    # CTRL+O – Run the command that you found using reverse search i.e CTRL+R.
    # CTRL+P – Displays the previous line in the command history. Or using the UP arrow.
    # CTRL+R – Searches the history backward (Reverse search).
    # CTRL+S – Searches the history forward.
    # CTRL+T – Swaps the last two chars.
    # CTRL+U – Delete all characters before the cursor.
    # CTRL+V – Makes the next character typed verbatim.
    # ?CTRL+X – Lists the possible filename completions of the current word.
    # ?CTRL+XX – Jump to start point of the line and back to the current cursor position.
    # CTRL+Y – Retrieves the last item that you deleted or cut. Opposite of CTRL+W.
    # CTRL+Z – Stops the current command.
    # CTRL+[ – Equivalent to ESC key.
    # !! – Repeats the last command.
    # !$ - last arg
    # ESC+t – Swaps the last two words.
    # !:1 - first arg from prev line
    # ESC Ctrl+e - expand aliases
    # CTRL+X+E - use editor to edit line
    # )
    # }
